.btn-success-outline {
  border: 1px solid #5D9D9E;
  border-radius:5px;
  margin-right:10px;
}

.coverhome {
  background-image: url("http://res.cloudinary.com/dzr44aeiu/image/upload/v1448558045/background_nb_fbevqv.jpg");
  background-size: cover;
  position:relative;
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 43%;
  margin-top:0;
}

.coverhome-filter {
  top:0;
  bottom:0;
  left:0;
  right:0;
  position:absolute;
  background: rgba(0, 0, 0, 0.4);
}

.coverhome h1 {
  margin:0;
  color: white;
  font-weight:bold;
}


.buttonhome {
    padding: 15px 25px;
    width: 100%;
    max-width: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;top: 50%;
}

#search {
  width: 100%;

}


.form_bg {
    padding:20px;
    position: absolute;
    border:1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 280px;
}

.header_logo {
  font-family: 'Chivo', sans-serif;
  font-size:45px;
  color:#5E9E9F;

}


.footer{
bottom: -50px;
text-align: left;
position: absolute;
width: 875px;
font-size: 25px;


}

.list-footer-inline a {
  margin-right: 12px;
  color:#5E9E9F;
}
