.btn-success-outline {
  border: 1px solid #5D9D9E;
  border-radius:5px;
  margin-right:10px;
  color: #5C9C9D;
}

.coverhome {
  background-image: url("http://res.cloudinary.com/gregoire/image/upload/v1484064780/background_nb_joyqyh.jpg");
  background-size: cover;
  position:relative;
  height: 550px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 43%;
  margin-top:0;
  text-align:center;

  h1 {
    margin:0;
    padding-top: 220px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:600;
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 2px #000;

  }

  .search-form {
    background-color: rgba(50,183,150,0.6);
    padding: 20px;
    border-radius: 4px;
    margin-top:50px;

    .form-control {
      padding: 20px;
      width: 450px;
    }

    .btn-success {
      padding: 9px 20px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.coverhome-filter {
  top:0;
  bottom:0;
  left:0;
  right:0;
  position:absolute;
  background: rgba(0,0,0,0.6);
}

#search {
  width: 100%;
}


.header_logo a:link a:visited a:hover, a:focus {
  text-decoration: none;
}

.homeblocs{
  margin-top:30px;
  height:300px;
}

.homejournalist{
    background-color:grey;
    padding:5px;
}
.hometopics{
    background-color:grey;
    padding:5px;
}
.hometags{
    background-color:grey;
    padding:5px;
}

.footer {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 40px;
}

.list-footer-inline a {
  margin-right: 12px;
  color:#5E9E9F;
  display:inline;
}

#home-articles {
  margin-bottom: 50px;

  h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 40px 0 10px 20px;
    display: flex;
    align-items: center;

    &:after {
      margin: 0 20px;
      content: "";
      border-bottom: solid #000 1px;
      flex: 1;
    }
  }

  ul {
    list-style: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;

    li { position: relative; }
  }

  .container-cards {
    position: relative;
    padding: 20px 0;
    height: 240px;
    overflow: hidden;

    .card-fav {
      position: absolute;
      right: 40px;
      bottom: 25px;
    }
    .card-post-author {
      color: white;
      font-style: italic;
    }
    .card-post-date {
      color: white;
      position: absolute;
      bottom: 20px;
      left: 40px;
      font-size: 12px;
    }
    .card-post-cat {
      color:white;
      text-transform: uppercase;
      position: absolute;
      top: 10px;
      right: 20px;
      background: #E22;
      display: inline-block;
      padding: 0 4px;
      color: white;
      font-family: Oswald;
    }

    a { text-decoration: none; }

    .card-filter-home {
      position: relative;
      height: 220px;
      margin: 0 10px;
      overflow: hidden;
      border-radius: 5px;
      a {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.4);
        // transform: translateY(-100%);

        // transition-property: all;
        // transition-duration: .5s;
        // transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      }
    }

    .card-details {
      position: absolute;
      padding: 20px 40px;
      top: 0;
      padding: 20px 40px;
      bottom: 0;
      right: 0;
      left: 0;

      // transform: translateY(100%);
      // transition-property: all;
      // transition-duration: .5s;
      // transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

      h3 {
        text-transform: uppcase;
        color: #fff;
        font-size: 19px;
      }
    }
  }
}

