
    <div class="text-center">
      <div class="icons">
        <ul class="list-unstyled list-inline">
          <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
          <li><a href="#"><i class="fa fa-github-square"></i></a></li>
      </ul>
      </div>
    </div>
