<% if current_user %>
  <div class="card-fav">
    <% if post.is_faved_by(current_user) %>
      <%= link_to fav_path(post.is_faved_by(current_user)), method: :delete do %>
        <i class="fa fa-heart faved faved-on"></i>
      <% end %>
    <% else %>
      <%= link_to post_favs_path(post), method: :post do %>
        <i class="fa fa-heart faved faved-off"></i>
      <% end %>
    <% end  %>
  </div>
<% end %>
