
<div class="coverhome">

  <div class="coverhome-filter">

    <div class="container">

      <div class="buttonhome">


    <h1>Hello !</h1>


      </div>

      <div class="bloctwo">
        <%= simple_form_for :search, url: posts_path, method: :get, :html => { :class => 'form-inline' } do |f| %>
        <%= f.input :title, label: false, placeholder: "chercher un titre" %>
        <%= f.submit "Rechercher",  class: "btn btn-default" %>
        <% end %>
      </div>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-footer-inline">
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </ul>
            </div>
          </div>
        </div>
      </div>


  </div>



</div>



