<div class="coverhome">

  <div class="coverhome-filter">

    <div class="container">

      <div class="buttonhome">

        <h1>Hello !</h1>

      </div>

      <div class="text-center">



      <div class="bloctwo">
        <%= simple_form_for :search, url: posts_path, method: :get, :html => { :class => 'form-inline' } do |f| %>
        <%= f.input :query, label: false, placeholder: "Taper un titre" %>
        <%= f.submit "Rechercher",  class: "btn btn-default" %>
        <% end %>
      </div>


      </div>

    </div>

  </div>

</div>


<div class="container">


  <div class="row">


    <div class="hometopics col-xs-12 col-lg-4 col-md-4 col-sm-4">


      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec </p>

    </div>

    <div class="hometags col-lg-4 col-md-4 col-sm-3">

      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec</p>

    </div>

    <div class="homejournalist col-lg-4 col-md-4 col-sm-3">

      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec </p>

    </div>


  </div>


  <div class="footer">
    <div class="col-lg-4 col-md-4 col-sm-3">
      <ul class="list-footer-inline">
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </ul>
    </div>
  </div>

</div>
