


<div class="coverhome">

  <div class="coverhome-filter">

    <div class="container">

    <div class="buttonhome">


    <h1>Hello !</h1>
    <p>Find me in app/views/pages/home.html.erb</p>

    </div>

    </div>


    </div>


 <!-- <div id="search">

    <form action="" class="navbar-wagon-search hidden-xs hidden-sm">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>

    </div> -->



</div>



