
<div class="container" id="home-articles">
  <div class="row">
    <h2>Mes favoris</h2>
    <ul>
      <% @favs.each do |fav| %>
        <li>
          <%= link_to post_path(fav.post) do %>
            <%= fav.post.title %>
            Publié par <%= fav.post.user.first_name %>
                <%= fav.post.user.last_name[0] %>.
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>








