<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <div class="text-center">
      <h1>Mes articles favoris </h1>
    </div>
    <br/>
    <ul class="list-unstyled">
      <% @favs.each do |fav| %>
      <li><%= fav.post.title %> - <%= fav.post.user %></li>

      <% end %>
    </ul>
  </div>
 </div>
</div>
