<div class="container" id="home-articles">
  <div class="row">
    <h2>Tous les articles</h2>
    <ul>
      <% @posts.each do |post| %>
        <li class="col-xs-6 col-md-4 container-cards">
          <%= link_to post_path(post) do %>
          <div class="card-filter-home" style="background: url(<%= cloudinary_url post.cover, angle: 340, overlay: "logo-mini-s", effect: "mask", opacity: "50" %>); background-size:cover"></div>
          <div class="card-details">
          <h3><%= post.title %></h3>
            <%= render 'pages/favorites', post: post %>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


