<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-xs-12 col-sm-6">
        <%= render 'postitem', post: post %>
      </div>
    <% end %>
  </div>
</div>
