<div class="container_new_post">

  <h2 class="text-center">Créer un article</h2>

  <%= render 'form' %>


  <h4 class="text-center">
    <%= link_to "< Retour", :back,  class: "btn btn-success"  %>
  </h4>

</div>
