// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  border:1px solid grey;
  border-radius:3px;
  padding: 15px;
  margin: 15px auto;
  height:250px;
  position: relative;
  padding-bottom: 200px;
  margin-bottom: 40px;
}

.card h2 {
  font-size:20px;
  text-transform:uppercase;
}

.card p {
  font-size:14px;
}

.carding h1 {
  text-align: center;
  font-weight : strong;
}

.carding h5 {
  text-align: right;
  color: darkgray;
}

.synops h5 {
  text-align: left;
  color: darkgray;
}

.hrlength hr {

}

.contenu{
  text-align: justify;
}

.card-filter {
color: #7FB8C8;
padding: 15px;
position: absolute;
top:0;
bottom:0;
left:0;
right:0;
background: rgba(0.1, 0.1, 0.1, 0.5);
  a {
  color:white;
  }
}

.diving {
  background-color: aliceblue;
}

.img-circle {
border-radius: 1%;
height: 180px;
}

.avatar {
width: 30px;
border-radius: 50%;
}
